/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import 'theme/variables';

$primary-color: #334295;
$secondary-color: #EA592D;

:root {
  --ion-font-family: 'Mulish', sans-serif;
}

:host {
  padding-top: constant(safe-area-inset-top); /* iOS <=11.2 */
  padding-top: env(safe-area-inset-top); /* Estándar */
}

body, p, span, label, strong, b, i, u,
h1, h2, h3, h4, h5, h6,
a, small, em, mark, sub, sup,
ion-label, ion-text, ion-note,
ion-title, ion-card-title, ion-card-subtitle,
ion-item .label, ion-chip, ion-select,
ion-input, ion-textarea, ion-toggle .label {
  color: #334295 !important;
}

// ion-header, ion-footer {
//   padding-top: env(safe-area-inset-top);
//   padding-bottom: env(safe-area-inset-bottom);
// }

// ion-content {
//   padding-top: env(safe-area-inset-top);
//   padding-bottom: env(safe-area-inset-bottom);
// }

// declaración de clases para colores
.bg-primary {
  --background: #334295;
}

.color-primary {
  color: #334295
}

.bg-secondary {
  --background: #EA592D;
}

.color-secondary {
  color: #EA592D;
}

// estilo icono avatar
ion-avatar img {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #334295;
}

// estilo modal confirmación
.modal-confirm-delete {
  --width: 90%;
  --max-width: 400px;
  --height: 210px;
  --border-radius: 16px;
  --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  --background: #fff;

  .modal-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
  }
}
// estilo modal cargando
.modal-loading {
  --background: transparent;
  &::part(backdrop) {
    background-color: white !important;
  }
}

.modal-add-members {
  @extend .modal-confirm-delete;
  --height: 290px;
}

// estilo input codigo
.code-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100%;
}

.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-button{
  &.custom-btn {
    --border-radius: 14px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 800;

    &.btn-solid {
      --background: #EA592D;
    }
    &.btn-outline {
      color: #EA592D;
      --border-color: #EA592D;
    }
  }
  
}

// estilo de parrafo
.custom-paragraph {
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 15px;
  // padding-top: 16px;
  padding-bottom: 16px;
}

// estilo de inputs
.custom-input {
  margin-top: 5px;
  &.input-fill-outline{
    min-height: 46px;
    --border-radius: 14px;
    &.sc-ion-input-md-h {
      --border-color: #FFBAA5;
    }
    &.has-focus.sc-ion-input-md-h {
      --border-color: #EA592D;
    }
  }
  &.input-label-placement-floating.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
    -webkit-transform: translateY(60%) scale(1);
    transform: translateY(60%) scale(1);
  }
  &.label-floating.input-fill-outline.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
    -webkit-transform: translateY(-40%) scale(0.75);
    transform: translateY(-40%) scale(0.75);
  }
}

// estilo del header
.custom-ion-header {
  box-shadow: none !important;
  background: white;
  &.background-none {
    background: initial;
  }
  &.custom-padding-header {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  ion-toolbar {
    --background: none;
  }
}

// estilo del footer
.custom-ion-footer {
  box-shadow: none !important;
  // ion-toolbar {
  //   --background: none;
  // }
}

// título personalizado
.custom-title {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
  &.padding-with-back-button {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

// estilos de botones
.custom-back-button {
  --background: #FEF6F4;
  --border-radius: 5px;
  --box-shadow: none;
  --padding-start: 0;
  --padding-end: 0;
  --color: #334295;
  top: 0;
  width: 40px;
  height: 40px;
  min-width: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  position: absolute;
  z-index: 1;
}

// estilo de contenedor para poner los decorados flotantes
.overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

// estilo de circulos del decorado
.circles {
  background-color: #EA592D;
  position: fixed;
  border-radius: 50%;
  z-index: -2;
}

// sombra del contenedor ion-content
.shadowed-content {
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin: 10px;
  // background: white;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

// para centrar el contenido
.content-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

//estilo del ion list 
.custom-ion-list {
  background-color: transparent;
}

// estilo y animacion de campana
.container-loader {
  width: 100%;
  height: calc(100vh - 32px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Escala completa con esta clase */
.loader {
  position: relative;
  width: 200px;
  aspect-ratio: 1/1;
}
//animación de la ola
.wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  animation: waveAnim 2s infinite;
}

.wave:nth-child(1) {
  width: 100%;
  height: 100%;
  background-color: rgba(234, 89, 45, 0.2);
  animation-delay: 0s;
}

.wave:nth-child(2) {
  width: 100%;
  height: 100%;
  background-color: rgba(234, 89, 45, 0.1);
  animation-delay: 0.3s;
}

.wave:nth-child(3) {
  width: 100%;
  height: 100%;
  background-color: rgba(234, 89, 45, 0.05);
  animation-delay: 0.6s;
}

@keyframes waveAnim {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
//estilos de campana de cargando
.bell {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%; /* se adapta al contenedor */
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
  transform-origin: top center;
}

@keyframes ring {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  25% { transform: translate(-50%, -50%) rotate(7deg); }
  50% { transform: translate(-50%, -50%) rotate(0deg); }
  75% { transform: translate(-50%, -50%) rotate(-7deg); }
  100% { transform: translate(-50%, -50%) rotate(0deg); }
}

ion-select,
ion-input:not(.otp-number) {
  font-weight: 400;
  color: $primary-color !important;
}

ion-select.select-fill-outline {
  --border-radius: 14px;
  --border-color: #FFBAA5;
}

ion-item:focus-within {
  ion-input {
    // border: 1px solid #FFBAA5;
    padding: 0 10px;
  }
}

.input-otp {
  ion-input {
    .input-wrapper {
      padding: 0;
    }
  }

  ion-input.sc-ion-input-md-h {
    --border-width: 1px;
    --border-color: #FFBAA5 !important;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::ng-deep .swiper-pagination {
  background: #FEF6F4 !important;
  padding: 7px 15px !important;
  width: max-content !important;
  margin-left: auto !important;
  margin-right: auto !important;
  right: 0 !important;
  border-radius: 6px !important;
}
// ion-toggle
ion-toggle {
  // padding: 12px;
  color: #334295;

  --track-background: #F2F2F2;
  --track-background-checked: #F2F2F2;

  --handle-background: #CACACA;
  --handle-background-checked: #EA592D;

  --handle-width: 28px;
  --handle-height: 28px;
  --handle-max-height: auto;
  --handle-spacing: 4px;

  --handle-border-radius: 50%;
  --handle-box-shadow: none;
}

ion-toggle::part(track) {
  height: 33px;
  width: 63px;
  border-radius: 35px;

  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
}

//

.custom-toast {
  --border-radius: 14px;
  --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  text-align: center;
  ion-icon {
    vertical-align: middle;
    font-size: 20px;
  }
}

// ion-tab

ion-tab-bar{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border: 1px solid lightgray;
  min-height: 88px;
  background: #F1F1F1;

  ion-fab-button{
    --background: #EA592D;
    outline: 8px solid white;
    border-radius: 50%;
    z-index: 1;
  }

  ion-tab-button {
    background: #F1F1F1;
    --color: var(--ion-color-medium);
    --color-selected: #EA592D;

    ion-label{
      font-size: 15px;
    }

    &.tab-selected::before {
      background-color: var(--ion-color-primary);
    }

    &.tab-selected {
      ion-label{
        color: #EA592D;
        font-weight: 600;
      }

      ion-icon{
        filter: brightness(0) saturate(100%) invert(43%) sepia(50%) saturate(2792%) hue-rotate(345deg) brightness(96%) contrast(91%);
      }
    }

    &:not(.tab-selected){
      ion-label{
        color: $primary-color;
      }
    }
  }
}
.barcode-scanner-active,
.barcode-scanner-active body,
.barcode-scanner-active ion-app,
.barcode-scanner-active ion-content,
.barcode-scanner-active .ion-page {
  background: transparent !important;
  --background: transparent !important;
}

canvas, .barcode-scanner-active {
  ion-content,
  ion-header,
  ion-footer {
    display: none;
  }
}

// estilos del carrusel
swiper-slide {
  display: flex;
  position: relative;

  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 18px;

  text-align: center;
  box-sizing: border-box;
}

swiper-slide img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: #EA592D;
  font-size: 24px;
  background: transparent;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.custom-prev {
  @extend .custom-back-button;
  margin: 0;
  left: 0px;
}

.custom-next {
  @extend .custom-back-button;
  margin: 0;
  right: 0px;
}

.footer-actions {
  padding: 10px 0;
  background: #f9f9f9;
  border-top: 1px solid #ccc;
}

.action-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.action-button ion-button {
  --border-color: #EA592D;
  --color: #EA592D; // color del icono dentro del botón
  --border-radius: 50%;
  width: 56px;
  height: 56px;
  margin-bottom: 6px;
}

.action-label {
  font-size: 16px;
  font-weight: 700;
}	
