@import '../../theme/variables';

.custom-title {
  max-height: max-content;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* Fondo blanco */
  width: 100%;
  height: 100%;

  .logo {
    width: 70%;
    /* Ajusta el tamaño como sea necesario */
    max-width: 400px;
    /* Tamaño máximo para la imagen */
    width: 301.0000305175781;
    height: 84.46894073486328;
    top: 436px;
    left: 69px;
    
      animation: slide-up 1.2s ease-out forwards;
      transform: translateY(100%);
      opacity: 0;
  }
}

.slide-up-wrapper {
  animation: slide-up 1.2s ease-out forwards;
  transform: translateY(100%);
  opacity: 0;
}

@keyframes slide-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  transform: translateY(0px);
  transition: 1000ms;
  opacity: 0.5;
}

.slide-up {
  transform: translateY(-30px);
  transition: 1000ms;
  opacity: 1;
}

.illustration {
  width: 100%;
  max-width: 200px;
  object-fit: contain;
}

.description {
  font-size: 15px;
  margin-bottom: 20px;
  padding: 0 20px;
}
// estilos del carusel

.container-carousel {
  width: 100%;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots-container {
  position: absolute;
  bottom: 50px;
  display: flex;
  gap: 10px;

  .dot {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    background-color: $primary-color;
    /* Color gris por defecto */
    transition: background-color 0.3s ease;
  }
}

.image-container {
  width: 350px;
  height: 450px;
  img {
    width: 100%;
    height: 100%;
  }
}

